h1 {font-family: "Trebuchet MS", Verdana, sans-serif;
color: olive;
border: 5px solid black;
letter-spacing: 4px;
font-size: 46px;
}
h2{font-family: "Trebuchet MS", Verdana, sans-serif;
color: teal;
font-size: 36px;
}
h3{font-family: "Trebuchet MS", Verdana, sans-serif;
color: teal;
 font-style: italic;
 font-size: 30px;
}
p{font-family: "Trebuchet MS", Verdana, sans-serif;
font-size: 24px;
color: gray;
}
img{float: left;
}