h1 {font-family: "Trebuchet MS", Verdana, sans-serif;
color: olive;
border: 5px solid black;
}
h2{font-family: "Trebuchet MS", Verdana, sans-serif;
color: teal;
}
p{font-family; "Trebuchet MS", Verdana, sans-serif;
font-size: 24px;
color: olive;
}